[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

## customizations
innodb_buffer_pool_size = 4G
max_connections = 1500
sql_mode=NO_ENGINE_SUBSTITUTION
net_read_timeout=900
net_write_timeout=900
wait_timeout=86400
interactive_timeout=86400
max_allowed_packet=1073741824
server-id = {{ ansible_date_time.epoch }}
